pytest~=7.1.2
responses~=0.13.3
more-itertools==8.10.0 ; python_version=='3.5' # more-itertools added some f-strings after this.
typing; python_version>='3.7' and python_version<'3.10' # To work around CI fail.
